<%- layout("/layouts/boilerplate") -%> <!--navbar-->
<link rel="stylesheet" href="/css/style.css">
<style>
    .row a{
        text-decoration: none;
    }
</style>
<h3>Category: <%=category%></h3><br>
<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
    <%for(let listing of listings){%>
        <a href="/listings/<%=listing._id%>">   
        <div class="card col listing-card">
            <div class="glass">
            <img src="<%= listing.image.url %>"
             class="card-img-top" 
             alt="listing_img" 
             style="height:15rem"> 
             <div class="card-img-overlay"></div>
            </div>
            <div class="card-body">
              <p id='listing-text2'><b><%= listing.title %></b>
                <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                <i class="tax-info">&nbsp +18% GST</i>
               </p>
            </div>
        </div>
        </a>
 <%}%>
</div> 
