<!--main ejs template-->
<%- layout("/layouts/boilerplate") -%> <!--navbar-->
<link rel="stylesheet" href="/css/style.css">
<div id="filters" class="d-flex flex-nowrap overflow-auto">
    <a href="/listings/filter?category=Trending" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
             <p>Trending</p>
        </div>
    </a>
    <a href="/listings/filter?category=Rooms" class="filter-link">
        <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
        </div>
    </a>
    <a href="/listings/filter?category=Mountains" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountains</p>
        </div>
    </a>
    <a href="/listings/filter?category=Iconic Cities" class="filter-link">
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
    </a>

<a href="/listings/filter?category=Castles" class="filter-link">
    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
</a>
<a href="/listings/filter?category=Amazing pools" class="filter-link">
    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
    </div>
</a>
<a href="/listings/filter?category=Camping" class="filter-link">
    <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
</a>
<a href="/listings/filter?category=Farms" class="filter-link">
    <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
    </div>
</a>
<a href="/listings/filter?category=Arctic" class="filter-link">
        <div class="filter">
        <div><i class="fa-solid fa-snowman"></i></div>
        <p>Arctic</p>
    </div>
</a>
<a href="/listings/filter?category=Dome" class="filter-link">
    <div class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Dome</p>
    </div>
</a>
<a href="/listings/filter?category=Boat" class="filter-link">
    <div class="filter">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boat</p>
    </div>
</a> 
<div class="tax-toggle" class="filter-link">
    <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
      </div>
</div>
</div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(let listing of allListings){%>
            <a href="/listings/<%= listing._id%>" class="listing-link">
                <div class="card col listing-card">
                <img src="<%= listing.image.url %>"
                 class="card-img-top" 
                 alt="listing_img" 
                 style="height:20rem"> 
                 <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text"><b><%= listing.title %></b>
                <br>
<% if (listing.price) { %>
    <% if (listing.price < 0) { %>
        Please enter a valid price
    <% } else { %>
     &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
        <i class="tax-info">&nbsp +18% GST</i>
        <% } %>
<% } else { %>
    Price not available
<% } %> 
            </p>
                </div>
     </div>
    </a>
              <%}%>
    </div> 

